<app-transition></app-transition>
<app-header></app-header>
<main>
    <div class="container" [slideForms]="choice">
        <section class="cadastro-container">
            <h2>Cadastro</h2>
            <input type="text" name="" id="user-cadastro" [(ngModel)]="email" placeholder="nome..." required>
            <input type="email" name="" id="email-cadastro" [(ngModel)]="nome" placeholder="seu@email.aqui" required>
            <input type="password" name="" id="senha-cadastro" [(ngModel)]="senha" placeholder="senha..." required>
            <input type="button" value="Cadastrar" id="cadastro" (click)="cadastrar(email, nome, senha)">
            <figure class="arrow-container" (click)="btn('login')">
                <p>Login</p>
                <img src="./assets/images/arrow.svg" alt="" class="arrow-cadastro">
            </figure>
        </section>
        <section class="login-container">
            <figure class="arrow-container" (click)="btn('cadastrar')">
                <p>Voltar</p>
                <img src="./assets/images/arrow.svg" alt="" class="arrow-login">
            </figure>
            <h2>Login</h2>
            <input type="text" name="" id="user-login" [(ngModel)]="email"  placeholder="seu@email.aqui">
            <input type="password" name="" id="senha-login" [(ngModel)]="senha"  placeholder="senha...">
            <input type="button" value="Login" id="login" (click)="logar(email, senha)">
        </section>
    </div>
    <app-success [widthInput]="width"></app-success>
    <user-container [userInput]="user"></user-container>
</main>
<app-footer></app-footer>