@import 'mixins'
@import 'variables'
@import 'animations'
.visible
    @include displayFlex(column, center, center, 5px)
    @include card(fit-content, auto, $blackLighter, 10px)
    position: fixed
    bottom: 10px
    left: 10px
    padding: 7px
    p
        font-size: 1.3rem
    .choices
        @include displayFlex(row, space-evenly, center, 10px)
        a
            font-size: 1.3rem
            cursor: pointer
            text-decoration: underline